@charset "UTF-8";
#top{
  height: 44px;
  color: #a8a8aa;
  background-color: #444444;
  /*font-size: 12px;*/
}
.col-xs-2{
  font-size: 12px;
  text-align: right;
}
.col-md-1,.col-sm-1{
  font-size: 12px;
  /*text-align: center;*/
}
.row{
  line-height: 44px;
}
#nav{
  margin: 0px;
  border: 0px;
  border-radius: 0;
  background-color: #32302d;
}
ul>li{
  text-align: center;
  text-align: left;
  margin: 0 auto;
}
ul{
  background-color: #32302d;
}
#ul>li>a{
  color: white;
}
#ul a:hover{
  opacity: .5;
}
#button,#buttoncenter{
  border: 0px;
  float: left;
  background-color: #32302d;
}
#buttoncenter{
  margin-left: 35%;
  font-size: 20px;
  color: white;
  background-color: #32302d;
}
#buttonright{
  color: white;
  font-size: 20px;
  border: 0px;
  float: right;
  background-color: #32302d;
}
#navbar{
  border-top: 0px;
}
#temp1,#temp2{
  padding-bottom: 0px;
  margin-bottom: 12px;
}
#temp1{
  background-color:#f9f0eb;
  margin-bottom: 10px;
}
#temp2,#temp3{
  background-color: #fafafa;
  margin-bottom: 10px;
}
#temp1 h2,#temp2 h2,#temp3 h2,h4{
  padding-top: 39px;
  color: #111;
}

#temp1 h2,#temp1 h3,#temp2 h2,#temp2 h3,#temp3 h2,#temp3 h3{
  text-align: center;
}

#series{
  display: block;
  text-align: center;
  color: red;
}
.caption{
  background-color: #fafafa;
}
.thumbnail{
  border: 0px;
  /*padding: 0px;*/
}
h4{
  text-align: center;
}
h5{
  text-align: center;
}
#towDivLeft{
  /*background-color: #fafafa;*/
  /*margin-right: 1px;*/
  padding-left: 5px;
  padding-right: 5px;
}
#towDivRight{
  padding: 0px;
  padding-right: 5px;
}
#thumbnail{
  margin-bottom: 0px;
  /*padding: 0px;*/
}
#caption{
  padding: 0px;
}
#towDiv{
  width:100%;
  padding: 0px;
  margin: 0px;
}
#bottom{
  background-color: #f8f8f8;
}
#bottom li {
  float: none;
}
#bagBox{
  display: none;
  position: absolute;
}
#bag{
  background-color: white;
  border: 1px solid #f8f8f8;
  width:280px;
  padding: 0 20px;
  height: 307px;
}
#bag ul{
  background-color: white;
  padding-left: 0px;
}
#bagText{
  color: #888;
  padding: 35px 0;
  margin: 0;
  text-align: center;
}
#bagBox li{
  list-style: none;
  height: 43px;
  line-height: 43px;
  border-top: 1px solid #e3e3e3;
}
#bagBox li span{
  line-height: 43px;
  padding-right: 10px;
}
#bagBox a{
  cursor: pointer;
}
#caret{
  border-bottom: 10px solid white;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}
#xuan{
  color:#000;
  font-size: 8px;
}
#last{
  background-color: #f8f8f8;
}
.lastTag{
  background-color: #f8f8f8;
}
.lastTag button{
  background-color: #f8f8f8;
}
#logoBox .input-group{
  margin:10px 0px;
}
#logoBox>div{
  width: 100%;
}
#logoBox h3{
  padding:5px;
  border-bottom:1px solid #ddd;
  }
#logoBox li{
  list-style-type:square;
  margin:10px 0;
}
#logoBox em{
  color:#c7254e;
  font-style: inherit;
  background-color: #f9f2f4;
}
#logoBox>div>div{
  border-right: 0px;
}
#logoBox>div>div{
  margin-top: 100px;
}
#logoBox{
  height: 700px;
  display: none;
  margin-top: 44px;
  position:fixed;
  top: 0px;
  right:0px;
  bottom:0px;
  filter: alpha(opacity=60);
  background-color: #777;
  z-index: 1002;
  left: 0px;
  display:none;
}
#close{
  position: absolute;
  font-size: 20px;
  size:20px;
  left:90%;
  top:20px;
}
#navbar{
  padding: 0px;
}
button{
  outline:none;
}
